<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>2Values Quiz</h3>
    <p>
      Een gerbruiker can een account aanmaken en inloggen. Daarna kan de gebruiker een leuke politieke quiz
      doen. Een admin kan (politieken) quizen aanmaken aanpassen en verwijderen. (info over de quiz) Een
      politieke quiz om erachter te komen of je links, centristisch of rechts bent.<br />
      waarbij de antwoorden zijn: heel erg mee eens, eens, neutraal, oneens, heel erg mee onees.<br />
      de antwoorden entiteit heeft ook een array van getallen die de impact van het antwoord aantonen.<br />
      hoe negatiever het getal hoe linkser hoe positiever hoe rechtser.<br />
      <br />
      voorbeeld: Als we de welvaart delen gaan we er allemaal op vooruit.<br />
      antwoord: heel erg mee eens.<br />
      (context: dit is een uitspraak van jesse klaver dus aardig links) <br />
      deze vraag heeft een number array van (-5, 3, 0, 1, 3)<br />
      (het array van getallen verschild per vraag op basis van hoe links of hoe rechts de uitspraak is)<br />
      dus in dit geval scoort de gerbruiker met dit antwoord -5 punten. <br />
      <br />
      voorbeeld: hoe vrijer de markten hoe vrijer de wereld.<br />
      antwoord: heel erg mee oneens.<br />
      (context: dit is een erg kapatalistische uitspraak dus erg rechts)<br />
      deze vraag heeft een number array van (-4, -1, 0, 3, 5).<br />
      dus in dit geval scoort de gerbruiker met dit antwoord -4 punten.<br />
      <br />
      al deze punten worden bij elkaar opgeteld en de uiteindelijke score word dan berekend.<br />
      voorbeeld: <br />
      -25 tot en met -16 (socialist)<br />
      -15 tot en met -6 (liberaal)<br />
      -5 tot en met 5 (centrist)<br />
      6 tot en met 15 (concervatist)<br />
      16 tot en ment 25 (kapitalist)<br />
      <br />
      de gebruiker van de voorbeelden zal dus in dit geval een totale score hebben van -9 en gelabeld worden
      als liberaal.<br />
      <br />
      (NOTE: met een min score bedoel ik niks negtiefs toe naar linkse meningen,<br />
      dit is puur om een uit eindelijke cijfer te krijgen op een spectrum van -25 tot 25)<br />
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Nick Erkens</h5>
        <p class="card-text">
          Studentnummer: 2147102
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>User</p>
    <ul>
      <li>naam: string</li>
      <li>id: number</li>
      <li>birthdate: date</li>
      <li>email: String</li>
      <li>password: String</li>
      <li>isAdmin: boolean</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Vraag</p>
    <ul>
      <li>vraag: string</li>
      <li>id: number</li>
      <li>punten: number[](5)</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Quiz</p>
    <ul>
      <li>vragen: [vraag]</li>
      <li>id: number</li>
      <li>score: number</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
    <p>Vul hier zelf meer functionaliteit toe.</p>
  </div>
</div>
